Enterprise-RAG-Supabase-Postgres/query-agent.json
{
  "name": "supdata pro",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -480,
        -240
      ],
      "id": "15d5cf4a-2712-4a60-a3f4-d249995d2823",
      "name": "When chat message received",
      "webhookId": "1754540a-1697-4f4c-a93b-71c5fc6e7647"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=answer from supdata base \nshort answer  {{ $json.chatInput }}\nbe friendly with user ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -288,
        -240
      ],
      "id": "9303e6fc-11f7-4cbb-a698-79e778fae324",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        0
      ],
      "id": "b1c7681b-f069-44da-badc-aa44ebae95de",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oekOLdbAMsL0giQ4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -208,
        0
      ],
      "id": "d536eeb4-5a3e-4624-80f4-2c7bd6519e22",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "x9dxK3pKdrpGYIDf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "12MGMFHGqXzcAC-rIfQw3QUykqYKQtrS4",
            "mode": "list",
            "cachedResultName": "apple report quarter ersults",
            "cachedResultUrl": "https://drive.google.com/drive/folders/12MGMFHGqXzcAC-rIfQw3QUykqYKQtrS4"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1424,
        -160
      ],
      "id": "af571033-886c-4f36-be02-afe5a6df266f",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XWDIm9BZOpENRcu0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12MGMFHGqXzcAC-rIfQw3QUykqYKQtrS4",
          "mode": "list",
          "cachedResultName": "apple report quarter ersults",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12MGMFHGqXzcAC-rIfQw3QUykqYKQtrS4"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        -272
      ],
      "id": "3d3b31a9-722a-4518-97af-9ee27db5cd6f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XWDIm9BZOpENRcu0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1248,
        -288
      ],
      "id": "971e297f-da17-4b44-ae2d-c459535b080b",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// ✅ Get ALL incoming data\nconst allInputs = $input.all(); \n\n// Separate Drive files vs Supabase rows\nconst driveInput = [];\nconst databaseInput = [];\n\nfor (const item of allInputs) {\n  const data = item.json;\n  \n  // 1. Google Drive files have \"id\" (lowercase) and \"name\"\n  if (data.id && data.name && !data.file_id) {\n    driveInput.push(data);\n  }\n  \n  // 2. Supabase rows have \"file_id\" and \"file_name\"\n  if (data.file_id) {\n    databaseInput.push(data);\n  }\n}\n\n// ✅ Extract already processed IDs from Supabase\nconst processedIds = databaseInput.map(row => row.file_id);\n\n// ✅ Filter only NEW files (Compare Drive ID vs Supabase file_id)\nconst newFiles = driveInput.filter(f => !processedIds.includes(f.id));\n\n// ✅ Output only the new files to be processed\nreturn newFiles.map(f => ({\n  json: {\n    fileId: f.id,\n    fileName: f.name\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -288
      ],
      "id": "d3609cd3-925e-4d4a-8a0f-298c12015739",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1456,
        240
      ],
      "id": "b3f901e7-0364-41e8-a249-e7d3d6c92df8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XWDIm9BZOpENRcu0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "processed_files"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1408,
        -416
      ],
      "id": "1180110e-8a49-4c80-ab79-48b19fe74099",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "LcIIqU1M041K6JPy",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1440,
        0
      ],
      "id": "cfd658c9-446c-430e-9024-b6f1e1dffb7a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1216,
        16
      ],
      "id": "c46625a4-3de1-4bf5-a71e-940aeeaa80d7",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "LcIIqU1M041K6JPy",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        176
      ],
      "id": "127057d4-291d-4275-bd76-0d5312d2a09b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "OcxqkQXA0cWU4S7V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1072,
        224
      ],
      "id": "f123b6fd-fe99-4c17-9ac1-f2bb88791a04",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1120,
        352
      ],
      "id": "65ea5e26-b51f-4a59-96f0-bb737deca7bf",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "tableId": "processed_files",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $json.fileId }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $json.fileName }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -864,
        -208
      ],
      "id": "dcafd521-ccd2-48cd-80bc-f63a125533e3",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "LcIIqU1M041K6JPy",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -64,
        0
      ],
      "id": "728cd550-2e6b-4648-ad8d-2ade2e83f73b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -128,
        144
      ],
      "id": "d61f5bad-f38a-483e-baf9-a4467017644f",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "LcIIqU1M041K6JPy",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        240
      ],
      "id": "32f04f47-bc7b-4e13-8332-544b5e55e360",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "OcxqkQXA0cWU4S7V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        176
      ],
      "id": "4be2a596-b03c-4729-9e2a-86382869192a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "oekOLdbAMsL0giQ4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "feb3d3c3-8a31-471f-9974-5b7a5e376170",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "807d584322770c09bfd8de79fcae5cd602fd9a4608fcd01394c716693ac71671"
  },
  "id": "CuOGSgmZkSe2nGOh",
  "tags": []
}