Autonomous-WhatsApp-Commerce-Agent/Autonomous-WhatsApp-Commerce-Agent.json
{
  "name": "whatsapp terbu store",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        432
      ],
      "id": "fa893d9b-3d8c-4d6d-b817-6ca6b73fa142",
      "name": "WhatsApp Trigger",
      "webhookId": "98a9b78d-2efa-450e-bc92-0ae83a36ef83",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "vuu95NPKwOXG9n0m",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1264,
        576
      ],
      "id": "f6bb19af-6fbb-4c7f-a620-6763255c148f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9Xl68SKJiBcZKEy4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "5b57fde5-8856-4fff-90a4-64669d84570d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ec2f74e-1d5f-4a6b-be17-5a8ad3172738",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2048,
        432
      ],
      "id": "5ed8e781-c698-4606-b251-ee5e63c6f510",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1936,
        528
      ],
      "id": "bafc91a3-3ace-46a5-b826-6fa126740898",
      "name": "Download media",
      "webhookId": "92ad82dc-c4ce-49f7-8a3f-2a97df9561ac",
      "credentials": {
        "whatsAppApi": {
          "id": "p2cqvYzSSJlZLP5R",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1808,
        528
      ],
      "id": "2e96d839-5e0e-4571-93b0-2b68a4741797",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WBcpAHslMa3XfZoO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1680,
        528
      ],
      "id": "969769e6-f23f-4ca0-8d23-c15df015dd87",
      "name": "Transcribe a recording1",
      "credentials": {
        "googlePalmApi": {
          "id": "NKj9rzGR1ebxqkVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26a101ea-427b-4c0a-9f71-8273a2b75ffb",
              "name": "content.parts[0].text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "bb516435-580d-4159-b58d-2d74d2106821",
              "name": "messages[0].text.body",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "f7f84fb9-1786-4321-9d7d-3999b978adbe",
              "name": "messages[0].image",
              "value": "={{ $json.messages[0].image }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        416
      ],
      "id": "b0b62358-3772-465c-a825-7bc0667ab699",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "f25cba48-74ca-4f26-b6ee-adcdb73c9ee9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b6d48243-8dc8-4f5c-a15a-e7757ef5bf16",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1056,
        416
      ],
      "id": "db6a894f-7c22-43f9-8f95-9563e51dc1b3",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "nova",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -848,
        336
      ],
      "id": "f00a037e-79ca-4c42-af6b-b4bfbefbda83",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "xGGr3w7lgmSWFFzL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "956072284261130",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -656,
        480
      ],
      "id": "2e06e75e-f2b7-4e5b-8881-02064cbf6efe",
      "name": "Send message1",
      "webhookId": "aad1f3ce-c495-436a-89d1-4886ec9a7f8e",
      "credentials": {
        "whatsAppApi": {
          "id": "p2cqvYzSSJlZLP5R",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2080,
        -144
      ],
      "id": "a32ebae0-fe69-4f75-9487-46aee9edb438",
      "name": "Upload your file here",
      "webhookId": "61064051-b52f-4217-b93f-7c7576bdc392"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "spare_parts",
          "mode": "list",
          "cachedResultName": "spare_parts"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1888,
        -144
      ],
      "id": "fb3126cd-87c6-4035-bc52-87b7abdebd40",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ESgmJgjNgIxrf2IX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1952,
        48
      ],
      "id": "03e70206-df4c-49f1-9ea7-78d457f605f1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xGGr3w7lgmSWFFzL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "csvLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1760,
        64
      ],
      "id": "3a5bc6d0-68d2-4ce5-a03f-605565f24061",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1760,
        224
      ],
      "id": "7a95d885-a30b-4265-a343-3277f3bd4c47",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool when a customer uses a part name that isn't clear. It translates Iraqi car slang to technical database keywords.\"",
        "text": "={{ $json.content.parts[0].text }}{{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are a technical linguistic assistant specializing in Iraqi automotive terminology and spare parts slang for Chevrolet vehicles (Malibu, Equinox, Impala). Your sole purpose is to bridge the gap between customer slang and the technical names used in the database.\n\n[Core Objective]\nWhen the Main Agent provides you with a customer's phrase or part name, your job is to:\n\nIdentify the technical English or Standard Arabic equivalent.\n\nProvide synonyms if the part is known by multiple names in Iraq.\n\nClarify the location of the part if the name is ambiguous.\n\n[Terminology Mapping Examples]\n\nCustomer Slang: \"دعامية\" -> Technical: Front/Rear Bumper.\n\nCustomer Slang: \"لايت\" or \"انارة\" -> Technical: Headlight.\n\nCustomer Slang: \"دبلات\" -> Technical: Shock Absorbers / Struts.\n\nCustomer Slang: \"بنايد\" or \"بنيد\" -> Technical: Hood.\n\nCustomer Slang: \"جاملغ\" -> Technical: Fender.\n\nCustomer Slang: \"راديتر\" -> Technical: Radiator.\n\nCustomer Slang: \"ايرباك\" -> Technical: Airbag.\n\nCustomer Slang: \"ويل\" -> Technical: Rim / Wheel.\n\n[Operational Instructions]\n\nBe Concise: Do not engage in conversation. Only output the technical keywords and a very brief explanation if necessary.\n\nUnclear Terms: If a term is extremely vague (e.g., \"القطعة اللي بصف المحرك\"), output: \"UNSPECIFIED: Ask customer for location or function.\"\n\nContextual Awareness: Remember that parts for Malibu, Equinox, and Impala might have specific naming variations; prioritize terms used in Chevrolet catalogs.\n\n[Output Format]\n\nTechnical Term: [The English/Standard Name]\n\nSynonyms found in Iraq: [List other names]\n\nSuggested Search Query: [Optimized keyword for Vector Store]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1296,
        768
      ],
      "id": "cddc0532-5227-4d33-a538-53a3ae1de619",
      "name": "AI Agent Tool1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1296,
        928
      ],
      "id": "d36f5e20-adf9-4e2e-a534-68a65a545b9f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NKj9rzGR1ebxqkVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1424,
        576
      ],
      "id": "c98f443f-6545-47eb-ab62-f508d5a15945",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NKj9rzGR1ebxqkVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve car part prices and availability. Input must be the part name and car model",
        "tableName": {
          "__rl": true,
          "value": "spare_parts",
          "mode": "list",
          "cachedResultName": "spare_parts"
        },
        "topK": 15,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1008,
        608
      ],
      "id": "ad436b16-2ea0-4263-8414-d182fef3726a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ESgmJgjNgIxrf2IX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1008,
        736
      ],
      "id": "5feb8f81-b992-454d-ad4e-e7b0b92a8f48",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "xGGr3w7lgmSWFFzL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1351398697",
        "text": "=🔔 *تقرير محادثة جديد*\n\n👤 *الزبون:* `{{ $('WhatsApp Trigger').item.json.messages[0].from }}`\n💬 *الطلب:* {{ $('Edit Fields').item.json.messages[0].text.body }} \n{{ $('Edit Fields').item.json.content.parts[0].text }}\n🤖 *الرد:* {{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1120,
        240
      ],
      "id": "9a5ccacd-f2b9-46d9-aa36-764cb841b68a",
      "name": "Send a text message",
      "webhookId": "16d2d627-fc46-4af5-9bc9-61a1f269b28c",
      "credentials": {
        "telegramApi": {
          "id": "2YqpIupmSXRLKGK3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body || $json.content.parts[0].text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=[SYSTEM ROLE: SMART IRAQI CHEVROLET SALES AGENT]\n\nأنت وكيل مبيعات قطع غيار شفروليه في العراق. مهمتك إتمام البيع، تسجيل الطلبات، وإدارتها بدقة عالية.\n\n==================================================\nCORE EXECUTION FLOW\n==================================================\nSTEP 1 — DEEP UNDERSTANDING (MANDATORY)\n- بمجرد استلام طلب الزبون، استخدم 'Translator Assistant Tool' لفهم المصطلحات التقنية (RH, LH, Front). \n\nSTEP 2 — MEMORY CHECK\n- الرقم الأساسي المعتمد هو رقم واتساب الزبون: ({{ $('WhatsApp Trigger').item.json.messages[0].from }}).\n- لا تطلب الرقم من الزبون إلا إذا أراد التسجيل لرقم شخص آخر صراحةً.\n\nSTEP 3 — DATABASE SEARCH / CANCELLATION\n- للبحث: ابحث في 'Supabase Vector Store' باستخدام مصطلحات المترجم.\n- للإلغاء: إذا طلب الزبون إلغاء طلبه، اتبع [بروتوكول الإلغاء الذكي] أدناه فوراً.\n\nSTEP 4 — SALES RESPONSE\n- رد بلهجة عراقية قصيرة ومباشرة. في حال الإلغاء، أكد للزبون إتمام العملية بلباقة.\n\n--------------------------------------------------\n[ORDER EXECUTION PROTOCOL - سجل الطلبات]\nتاريخ اليوم الرقمي: {{ $now.format('YYYY-MM-DD') }}\n\nأولاً: عند الشراء أو التعديل:\n1. ابحث بـ 'find_active_order_tool' برقم الواتساب.\n2. إذا كان تاريخ الطلب هو \"تاريخ اليوم\": استخدم 'update_order_tool'.\n3. إذا كان التاريخ قديماً أو السجل مفقوداً: استخدم 'Create order'.\n\nثانياً: [بروتوكول الإلغاء الذكي]:\n1. إذا طلب الزبون إلغاء طلبية \"اليوم\":\n   - استخدم 'update_order_tool' وقم بملء الحقول كالتالي:\n   - (cancel_action): اكتب \"نعم\" (حتى يتم تصفير السعر تلقائياً).\n   - (new_order_details): اكتب \"تم إلغاء الطلب بناءً على رغبة الزبون\".\n2. إذا طلب إلغاء طلبية من \"أيام سابقة\":\n   - أخبره بلهجة عراقية: \"عيني اعتذر منك، الطلبية قديمة وتثبتت بالمخزن وما نكدر نلغيها حالياً\".\n\n[قواعد ملء حقول الأداة]:\n- رقم التلفون: رقم الواتساب المعتمد.\n- تاريخ الطلب: صيغة YYYY-MM-DD حصراً.\n- السعر الاجمالي: في حال التعديل العادي اكتب السعر الجديد، وفي حال الإلغاء اترك الأداة تصفره عبر (cancel_action).\n--------------------------------------------------\n\"⚠️ تنبيه صارم: لا تقم أبداً باستدعاء update_order_tool إلا بعد استلام مخرجات find_active_order_tool. يجب عليك أخذ قيمة الـ id (التي تبدأ بـ rec) من نتائج البحث ووضعها في حقل record_id. إذا لم تجد طلباً نشطاً، أخبر الزبون بذلك ولا تحاول التخمين.\"\n--------------------------------------------------\nSTRICT RULES:\n- ⚠️ PRIVACY RULE: يُمنع منعاً باتاً عرض تفاصيل أي طلب (سعر، عنوان، قطع) إذا كان رقم الهاتف المبحوث عنه لا يطابق رقم واتساب الزبون الحالي ({{ $('WhatsApp Trigger').item.json.messages[0].from }}). في حال الاختلاف، اعتذر بلباقة: \"عيني هاي المعلومات خاصة بزبون ثاني، ما أقدر أنطيك تفاصيلها حفاظاً على الخصوصية\".\n- اللهجة: عراقية (واثقة وقصيرة).\n- ممنوع تعديل أو إلغاء أي طلب تاريخه ليس \"اليوم\".\n- الإلغاء = تصفير السعر (0) + تغيير الوصف لـ \"طلب ملغي\".\n- استخدام المترجم إلزامي قبل كل بحث.\n--------------------------------------------------\n\nEXECUTION MODE: Fast – Accurate Cancellation – Data Integrity"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1360,
        416
      ],
      "id": "7b63a878-0d56-4c05-ae3e-4c6f99454520",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqqKeapt3ekBZC9",
          "mode": "list",
          "cachedResultName": "طلبيات الزبائن ",
          "cachedResultUrl": "https://airtable.com/appqqKeapt3ekBZC9"
        },
        "table": {
          "__rl": true,
          "value": "tbl8B2xkuRkBXzGFO",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appqqKeapt3ekBZC9/tbl8B2xkuRkBXzGFO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "اسم الزبون": "={{ $fromAI('cust_name', 'اسم الزبون الصريح', 'string') }}",
            "رقم التلفون": "={{ $fromAI('cust_phone', 'رقم الهاتف من الواتساب', 'string') }}",
            "الطلبية الخاصة به": "={{ $fromAI('order_info', 'تفاصيل القطع المشتراة', 'string') }}",
            "السعر الاجمالي": "={{ $fromAI('total', 'السعر الكلي رقم فقط', 'string') }}",
            "مكان التوصيل": "={{ $fromAI('address', 'عنوان السكن', 'string') }}",
            "تاريخ الطلب": "={{ $fromAI('order_date', 'تاريخ اليوم أو التاريخ المطلوب بصيغة نصية', 'string') }}",
            "حالة الطلبية ": "={{ $fromAI('state', 'حالة الطلبية ', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "اسم الزبون",
              "displayName": "اسم الزبون",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "رقم التلفون",
              "displayName": "رقم التلفون",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "الطلبية الخاصة به",
              "displayName": "الطلبية الخاصة به",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "مكان التوصيل",
              "displayName": "مكان التوصيل",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "السعر الاجمالي",
              "displayName": "السعر الاجمالي",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "تاريخ الطلب",
              "displayName": "تاريخ الطلب",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "حالة الطلبية ",
              "displayName": "حالة الطلبية ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -1648,
        832
      ],
      "id": "e563c3b0-51a7-41d3-89bb-0de19ee3507b",
      "name": "Create order1",
      "credentials": {
        "airtableTokenApi": {
          "id": "GQl0XsiOfNIZ4Fpb",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appqqKeapt3ekBZC9",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tbl8B2xkuRkBXzGFO",
          "mode": "list"
        },
        "filterByFormula": "={رقم التلفون} = '{{ $fromAI(\"phone\", \"رقم هاتف الزبون\", \"string\") }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -1520,
        832
      ],
      "id": "7f42aeac-2e2b-4592-8c1d-92947c1ecc5a",
      "name": "find_active_order_tool1",
      "credentials": {
        "airtableTokenApi": {
          "id": "GQl0XsiOfNIZ4Fpb",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appqqKeapt3ekBZC9",
          "mode": "list",
          "cachedResultName": "طلبيات الزبائن ",
          "cachedResultUrl": "https://airtable.com/appqqKeapt3ekBZC9"
        },
        "table": {
          "__rl": true,
          "value": "tbl8B2xkuRkBXzGFO",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appqqKeapt3ekBZC9/tbl8B2xkuRkBXzGFO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $fromAI('record_id', 'الـ ID المستخرج من أداة البحث والذي يبدأ بـ rec', 'string') }}",
            "الطلبية الخاصة به": "={{ $fromAI('new_order_details', 'تفاصيل الطلب المحدثة أو اكتب (طلب ملغي) في حال الإلغاء', 'string') }}",
            "السعر الاجمالي": "={{ $fromAI('cancel_action', 'هل العملية هي إلغاء طلب؟ (نعم/لا)', 'string').includes('نعم') ? '0' : $fromAI('new_total', 'السعر المحدث', 'string') }}",
            "مكان التوصيل": "={{ $fromAI('new_address', 'العنوان الجديد إذا تغير', 'string') }}",
            "اسم الزبون": "={{ $fromAI('new_name', 'اسم الزبون الجديد إذا تغير', 'string') }}",
            "رقم التلفون": "={{ $fromAI('new_phone', 'رقم الهاتف الجديد الذي يريد الزبون اعتماده', 'string') }}",
            "حالة الطلبية ": "={{ $fromAI('state', 'حالة الطلبية ', 'string') }}",
            "تاريخ الطلب": "={{ $fromAI('order_date', 'تاريخ اليوم أو التاريخ المطلوب بصيغة نصية', 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "اسم الزبون",
              "displayName": "اسم الزبون",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "رقم التلفون",
              "displayName": "رقم التلفون",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "الطلبية الخاصة به",
              "displayName": "الطلبية الخاصة به",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "مكان التوصيل",
              "displayName": "مكان التوصيل",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "السعر الاجمالي",
              "displayName": "السعر الاجمالي",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "تاريخ الطلب",
              "displayName": "تاريخ الطلب",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "حالة الطلبية ",
              "displayName": "حالة الطلبية ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -1776,
        832
      ],
      "id": "2daa3002-1af2-4f29-a4b9-0b1f010b8e98",
      "name": "update_order_tool",
      "credentials": {
        "airtableTokenApi": {
          "id": "GQl0XsiOfNIZ4Fpb",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1344,
        576
      ],
      "id": "2fea2233-f663-4b89-b163-d9084e9796d3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xGGr3w7lgmSWFFzL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "956072284261130",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -592,
        304
      ],
      "id": "97c01083-c9d6-43d3-b077-b36041fb4dfc",
      "name": "Send message",
      "webhookId": "05268499-bca5-4202-b2cd-719349bcba94",
      "credentials": {
        "whatsAppApi": {
          "id": "p2cqvYzSSJlZLP5R",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "9647517568464",
            "phone_number_id": "956072284261130"
          },
          "contacts": [
            {
              "profile": {
                "name": "Wissam"
              },
              "wa_id": "9647502019758"
            }
          ],
          "messages": [
            {
              "from": "9647502019758",
              "id": "wamid.HBgNOTY0NzUwMjAxOTc1OBUCABIYFjNFQjBGQTAxMkMxMkRCM0Y4OTk1QkYA",
              "timestamp": "1772130489",
              "type": "audio",
              "audio": {
                "mime_type": "audio/ogg; codecs=opus",
                "sha256": "VEnhhqnuVrPQViaiiCbTD6B/71ZHCwUnA7WTRt2csLg=",
                "id": "33855906890723813",
                "url": "https://lookaside.fbsbx.com/whatsapp_business/attachments/?mid=33855906890723813&source=webhook&ext=1772130793&hash=ARnXPsPz9VoawK2Dh92BdUZM-BsMABsTcw6bpE7oNe5VpQ",
                "voice": true
              }
            }
          ],
          "field": "messages"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Tool1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create order1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "find_active_order_tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_order_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b18904aa-84f6-4f64-95b8-794337f11987",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ecf0b36244ac94d455db9130b3305b68c4ffb5f1f8a7a59e69c7c8e9e9e99fd"
  },
  "id": "8GXKItxNG5xZtjDCT9XwI",
  "tags": []
}