AI-Multi-Agent-Orchestrator/AI-Multi-Agent-Orchestrator.json
{
  "name": "malti ai",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        240
      ],
      "id": "82010f65-72f8-44c1-b7ba-14ad48c05b30",
      "name": "Telegram Trigger",
      "webhookId": "dadf8bde-2828-452e-b400-2b0167d6bf4a",
      "credentials": {
        "telegramApi": {
          "id": "2YqpIupmSXRLKGK3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}{{ $json.content.parts[0] }}",
        "options": {
          "systemMessage": "=You are the Master Orchestrator. Your role is to manage a Telegram-based personal assistant system. You are a router, not an encyclopedia. You do not perform technical tasks or answer general knowledge questions yourself; you delegate everything to specialized sub-agents.\n\nCRITICAL RULE: Zero Self-Reliance: Do NOT answer any factual, geographical, or news-related questions using your internal knowledge. If a user asks about a country (e.g., France, Iraq), a person, or a fact, you MUST delegate to the Web Search Agent.\n\nThe current date and time is: {{ $now.toString() }}\n\nYOUR SUB-AGENTS (TOOLS):\nCalendarAgent: The EXCLUSIVE authority for Google Calendar. Use this for scheduling, checking availability, or modifying events.\n\nE-Mail Agent: Use this for anything involving Gmail (searching, reading, or sending emails).\n\nWeb Search Agent: Use this for ALL general knowledge, Wikipedia entries, news, or any information not found in the user's personal calendar/email. If you don't have the answer in the conversation history, you MUST call this agent.\n\nOPERATING RULES:\nMandatory Delegation: * User asks about facts/countries/news? → Web Search Agent.\n\nUser asks about their schedule? → CalendarAgent.\n\nUser asks about emails? → E-Mail Agent.\n\nNo \"Hidden\" Knowledge: Even if you know the capital of France is Paris, you are forbidden from saying it. You must trigger the Web Search Agent to get the data.\n\nContext Passing: Always pass the full user query to the sub-agent to ensure no information is lost.\n\nDate Sensitivity: Use ({{ $now.toString() }}) to interpret relative terms like \"tomorrow\" before delegating.\n\nTelegram Formatting: Keep the final response to the user concise and friendly.\n\nMULTI-STEP TASKS:\nIf a task requires multiple agents (e.g., \"Search for the weather in Baghdad and email it to me\"), you must:\n\nCall Web Search Agent to get the information.\n\nCall E-Mail Agent to send that information.\n\nConfirm to the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        48
      ],
      "id": "114ace8e-1cc7-4e6b-99e5-2dbde3233b6a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e5199b5f-7807-4aa1-b513-01a23444823d",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        192
      ],
      "id": "32487e48-bd22-4b39-8949-3cbbe52bfa94",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        80
      ],
      "id": "419ebeeb-83d7-4a43-a06b-9e57e90b1127",
      "name": "Send a text message",
      "webhookId": "76cf8764-2a4b-4e6f-ac3a-92791baa00f1",
      "credentials": {
        "telegramApi": {
          "id": "BeGVgttsuHW2Wuil",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "944fa5b6-3402-4f55-a577-5ff7e3e1d562"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eded5700-1fdd-449a-a0fb-8d3a399776cc",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "=voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bf07bb67-0a3b-40df-8719-85c3f7e553b0",
                    "leftValue": "={{ $json.message.photo[1] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        224
      ],
      "id": "e54ce68f-c155-442b-8a1c-5d874e787602",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        240
      ],
      "id": "bbc49d1a-1a40-48b8-b301-04be6b2bb516",
      "name": "Get a file",
      "webhookId": "3280fd54-3771-4a79-b216-fc3deaae2df3",
      "credentials": {
        "telegramApi": {
          "id": "BeGVgttsuHW2Wuil",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        64,
        240
      ],
      "id": "221b0806-e382-4aff-b4ad-5b65fc2838e5",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "NKj9rzGR1ebxqkVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e9e3e2c-330b-4008-aff1-a9206eb100d3",
              "name": "content.parts[0]",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        240
      ],
      "id": "81ecbd18-81b7-4f9c-a5df-bf119f3e641e",
      "name": "voice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40a6a598-da56-4091-91cf-032a3a60f033",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "7ce74be2-4ac7-4ee9-843b-650e4872e009",
      "name": "text"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1600,
        288
      ],
      "id": "90965ab1-14b5-40e3-a9ad-02000a50b2d2",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "xGGr3w7lgmSWFFzL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        288
      ],
      "id": "c5acd77c-781e-4e00-81b6-8433d50a51bf",
      "name": "Send an audio file",
      "webhookId": "5abf066a-2ab4-4dbd-8a24-c7e6371d92df",
      "credentials": {
        "telegramApi": {
          "id": "BeGVgttsuHW2Wuil",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[1].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        416
      ],
      "id": "f3aa3990-1b90-443d-8627-b3ea364b0568",
      "name": "Get a file1",
      "webhookId": "5f63ed31-de2d-4cf0-b02c-7516d974bb59",
      "credentials": {
        "telegramApi": {
          "id": "BeGVgttsuHW2Wuil",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-preview"
        },
        "text": "What's in this image?\nshort answer ",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        64,
        416
      ],
      "id": "6790aa8e-7216-4b59-81fc-7745a26e14fa",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "NKj9rzGR1ebxqkVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9623d59a-7866-4e3b-bdaa-e64599dc8b4d",
              "name": "content.parts[0]",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        416
      ],
      "id": "59ca3144-773a-4fa1-8562-52f03836574d",
      "name": "image"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        192
      ],
      "id": "80d70a96-76bf-4b94-bc58-2def358040e6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a Time Management Specialist. You manage Google Calendar. Current Timezone: Asia/Baghdad (UTC+3). Current Reference Time: {{ $now.toString() }}.\n\nYOUR CAPABILITIES:\nCreate: Schedule new events. Always confirm the start and end times.\n\nRead (Get Many): Use this to answer \"What is my day like?\" or \"Am I free?\"\n\nUpdate/Delete: To change or delete an event, you must FIRST use the Get many events tool to find the specific Event ID, then apply the change.\n\nIMPORTANT:\nIf the user's request is \"Move my 3 PM meeting to 4 PM,\" search for the 3 PM meeting first to get the ID, then update it. Always confirm to the Orchestrator when a change has been successfully made.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1408,
        560
      ],
      "id": "ce45f02d-cfa6-4d19-a49c-54b21116ef48",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        768
      ],
      "id": "e8d4128d-1211-4f6b-a974-3ecf71ac8cde",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NKj9rzGR1ebxqkVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        704
      ],
      "id": "fe7a92f6-5f32-43af-b037-e764c860be39",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "wissamobaid123@gmail.com",
          "mode": "list",
          "cachedResultName": "wissamobaid123@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1632,
        752
      ],
      "id": "83c95d4a-8fd9-4885-a40f-2588e3d7d946",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0VyifvwIe7x9tCZW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "wissamobaid123@gmail.com",
          "mode": "list",
          "cachedResultName": "wissamobaid123@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1504,
        736
      ],
      "id": "6208ae98-494a-413c-9905-9d6095334da7",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0VyifvwIe7x9tCZW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "wissamobaid123@gmail.com",
          "mode": "list",
          "cachedResultName": "wissamobaid123@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1712,
        736
      ],
      "id": "96c10433-2565-467b-8eee-4c15c78c1087",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0VyifvwIe7x9tCZW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        656
      ],
      "id": "4510bbf7-68be-449a-b902-b8a5c598fbe8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xGGr3w7lgmSWFFzL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        656,
        192
      ],
      "id": "b5a37541-bc2d-41da-b792-b65042d2db28",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xGGr3w7lgmSWFFzL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a specialized Email Assistant. You have access to three Gmail tools: Search, Get Message, and Send.\n\nWORKFLOW LOGIC:\nTo Read/Find: Always start by using the Search Emails tool. Once you get a list of IDs, use Get a message in Gmail to read the specific content.\n\nTo Send: You MUST have a recipient (To), a Subject, and a Message body. If the user didn't provide an email address, ask the Orchestrator to request it from the user.\n\nDrafting: If a user asks to \"Reply,\" first read the original email to get context, then use the Send tool.\n\nBe professional and concise. Do not hallucinate email contents; only report what the tools return.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        528,
        624
      ],
      "id": "80d67fa6-c377-471f-b8db-bbf3bd62b55a",
      "name": "email"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        768
      ],
      "id": "6885279d-8b32-49f8-85af-e9611cac948e",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "NKj9rzGR1ebxqkVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        800
      ],
      "id": "18b2b8b9-6217-4d6d-8bbb-a61e5d8b8f94",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        704,
        928
      ],
      "id": "f3a6a8ac-ec58-428f-a7c6-186c4a47bbb0",
      "name": "Send a message in Gmail",
      "webhookId": "7a6afeb0-570d-4acf-93f3-87a0e1a538ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "UsyWGgGvbwCsKxys",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        736,
        784
      ],
      "id": "72e0970d-218e-4f90-9907-ecaa60f4144d",
      "name": "Get many messages in Gmail",
      "webhookId": "7a6afeb0-570d-4acf-93f3-87a0e1a538ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "UsyWGgGvbwCsKxys",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        864,
        880
      ],
      "id": "61ef72f9-35a3-41e6-b093-bd8c002d0b2d",
      "name": "Reply to a message in Gmail",
      "webhookId": "7a6afeb0-570d-4acf-93f3-87a0e1a538ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "UsyWGgGvbwCsKxys",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        880,
        720
      ],
      "id": "8ce22fe5-f967-4f73-b577-166706632a9b",
      "name": "Get a message in Gmail",
      "webhookId": "7a6afeb0-570d-4acf-93f3-87a0e1a538ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "UsyWGgGvbwCsKxys",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a high-speed Research Assistant. You have access to Google Search, Wikipedia, and a dedicated Hacker News tool.\n\nTOOL SELECTION RULES:\nHacker News Queries: If the user asks for \"top stories,\" \"what's new on HN,\" or anything related to Hacker News, you MUST use the Hacker News tool. Do not use Google Search for this.\n\nGeneral Research: Use Google Search for current events, news, or general facts.\n\nDeep Background: Use Wikipedia for general asking for country and history\nOPERATING GUIDELINES:\nSpeed: Use the most specific tool first and STOP once you have the answer.\n\nHN Specifics: When using the Hacker News tool, it will return a list. Just pick the #1 story (the first one) if the user asks for the \"top\" story.\n\nFormat: Provide the Title and the Link.\n\nLimit: Do not perform more than 2 tool calls per request.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        128,
        720
      ],
      "id": "fc68989d-c97b-4fc1-837c-bd99bda86f55",
      "name": "searching"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        928
      ],
      "id": "548d3660-4292-4662-b6c7-bbca7ca371c8",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "NKj9rzGR1ebxqkVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        48,
        928
      ],
      "id": "e318a0e0-da78-4bec-bc2c-75f437758981",
      "name": "Simple Memory3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        208,
        896
      ],
      "id": "fb55babf-d5b7-4c5c-9dbb-0f3cdac9667b",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        320,
        928
      ],
      "id": "6bee1a31-d6d7-4592-b654-2cf5fda826a4",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "jDtMHQHGfhmsNV1e",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "voice": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "email",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "searching": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "searching",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "searching",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "searching",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "searching",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "253629b8-4aae-4ddf-8814-928f5ecd090a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ecf0b36244ac94d455db9130b3305b68c4ffb5f1f8a7a59e69c7c8e9e9e99fd"
  },
  "id": "sbWtQGgKK5yOnTNgATdl_",
  "tags": []
}