AI-Voice-Receptionist-CIS/AI-Voice-Receptionist-CIS.json
{
  "name": "11 LAB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -80
      ],
      "id": "811c8459-f59d-462b-9863-deab3b742ece",
      "name": "Webhook",
      "webhookId": "e9122983-ac80-4a30-b130-0358c3bcf0ef"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "=1-\tSystem prompt\nYou are the Voice Interface for the CIS College AI Assistant.\nYOUR JOB:\n1- Listen to the user.\n2- Pass their request exactly as heard to the CIS_Assistant_Final tool.\n3- Read back the response you get from the tool clearly and naturally.\nVOICE STYLE:\n*Tone: Professional, warm, and helpful.\n*Pacing: Do not rush. Speak clearly.\n*Language: If the response from the tool is in Sorani Kurdish, speak with a Kurdish accent/pronunciation if possible. If English, use standard English.\nCRITICAL RULES:\n*Do not hallucinate answers. You have no internal knowledge. YOU MUST use the tool for every single user turn to get the correct answer.\n*Do not make up course details.\n*Do not confirm actions yourself. Wait for the tool to tell you what happened.\n2-\tFirst message\n\"Welcome to CIS College Erbil. I can answer questions about our courses or help you register. What are you looking for?\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        -80
      ],
      "id": "6ffb2970-02b5-407c-8d2c-42bfa179c294",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        -64
      ],
      "id": "ad448353-69f8-4c7b-87cc-0db49249e099",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10vILvorcI2Orx4k9D-CI9eykmV2Vt4CFrHimpSXs7NU",
          "mode": "list",
          "cachedResultName": "cis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10vILvorcI2Orx4k9D-CI9eykmV2Vt4CFrHimpSXs7NU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10vILvorcI2Orx4k9D-CI9eykmV2Vt4CFrHimpSXs7NU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        112,
        160
      ],
      "id": "87d40aa5-b3ef-4f17-b685-6ac53d34eb0f",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fbnZu3t7591A71uE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query.conversation_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -96,
        128
      ],
      "id": "79192411-74c9-4ef4-a0bd-46cc097d4d37",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9Xl68SKJiBcZKEy4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        80
      ],
      "id": "dfc9d66c-ea8c-4f2d-8e97-d528f893b15d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NKj9rzGR1ebxqkVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7dd15287-6807-4784-8b80-31939a50e658",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ecf0b36244ac94d455db9130b3305b68c4ffb5f1f8a7a59e69c7c8e9e9e99fd"
  },
  "id": "URc53324-zXAiI7mkC-RB",
  "tags": []
}