AI-Algorithmic-Trading-Analyzer/AI-Algorithmic-Trading-Analyzer.json
{
  "name": "trading",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0,30 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        -416
      ],
      "id": "867e5602-8143-4031-89a0-9c7855b18723",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "interval",
              "value": "30min"
            },
            {
              "name": "outputsize",
              "value": "500"
            },
            {
              "name": "apikey",
              "value": "\"Please insert your Twelve Data API Key here\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        -336
      ],
      "id": "a57ffb41-dc86-4ac0-bc78-fd24055829cc",
      "name": "Get_Prices1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { symbol: \"EUR/USD\" } },\n  { json: { symbol: \"GBP/USD\" } },\n  { json: { symbol: \"XAU/USD\" } },\n  { json: { symbol: \"USD/JPY\" } },\n  { json: { symbol: \"BTC/USD\" } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -416
      ],
      "id": "b2a6b75f-f62b-4699-926e-377f60379e5f",
      "name": "Watchlist"
    },
    {
      "parameters": {
        "url": "https://www.investing.com/rss/news_1.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -80,
        -496
      ],
      "id": "a02ef2fe-b5a7-4a2e-9457-c4292bc5664a",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "659a71d6-803b-4802-b072-bb12debacbfa",
              "leftValue": "={{ $json.is_opportunity }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -432
      ],
      "id": "778d9a3e-569c-47c7-b0b9-9a52c43ca1cd",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-robotics-er-1.5-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-robotics-er-1.5-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=البيانات الفنية الحالية لزوج: {{ $json.symbol }}\n\nالسعر الحالي: {{ $json.current_price }}\n\nالاتجاه العام: {{ $json.trend }}\n\nقوة الزخم (RSI): {{ $json.rsi }}\n\nمستوى التقلب (ATR): {{ $json.atr }}\n\nوقف الخسارة (SL): {{ $json.sl }}\n\nالهدف (TP): {{ $json.tp }}\n\nالسياق الإخباري المرفق:\n{{ $json.full_report }}\n\nحلل البيانات السابقة وصغ رسالة التنبيه بناءً على القالب المحدد في الـ System Message."
            }
          ]
        },
        "options": {
          "systemMessage": "=أنت نظام رادار تداول احترافي (Volunacci AI). مهمتك هي تحليل البيانات الفنية والاقتصادية المرفقة وإرسال تنبيه فوري وحاسم للمتداول.\n\nقواعدك الصارمة:\n1. التحليل الفني: اربط بين سحب السيولة (Liquidity Sweep) ومنطقة الارتداد 88.6% Fibonacci.\n2. إدارة المخاطر: استخدم الـ SL والـ TP المرفقين في البيانات بدقة 5 فواصل.\n3. دمج الأخبار: حلل كيف تدعم الأخبار الاقتصادية المرفقة حركة الزوج.\n4. الأسلوب: عسكري، حاسم، ومختصر جداً.\n\nقالب الرسالة (التزم به حرفياً):\n🚨 تنبيه الرادار: [اسم الزوج]\n🏁 القرار: [شراء 🟢 / بيع 🔴]\n📈 الحالة الفنية: [سطر واحد يصف سحب السيولة والارتداد]\n📰 السياق الاقتصادي: [ربط الخبر باتجاه الصفقة]\n\n🛑 الـ SL: [الرقم من البيانات]\n✅ الـ TP: [الرقم من البيانات]\n⚖️ المخاطرة: 1:2.5 (بناءً على ATR)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        656,
        -448
      ],
      "id": "e2d4674a-fe00-4f60-a64e-79d628fdab8a",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "EmyPD5k0nTpLou78",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1351398697",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        -448
      ],
      "id": "5ae0e937-629f-4b4e-b39a-4d2e4cbf4bd8",
      "name": "Send a text message1",
      "webhookId": "8e7868c8-a9b2-4fa9-ac25-a49a44083fe9",
      "credentials": {
        "telegramApi": {
          "id": "1jy06bUX7xeZ4330",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. جلب الأسعار من المدخل الأول (Input 0)\nconst priceItems = $input.all(); \n\n// 2. جلب الأخبار من نود الـ RSS مباشرة\nlet newsString = \"لا توجد أخبار اقتصادية عاجلة حالياً.\";\ntry {\n    const rssData = $('RSS Read1').all();\n    newsString = rssData.map(n => n.json.title).slice(0, 3).join(\" | \");\n} catch (e) {\n    // يستمر الكود حتى لو فشلت الأخبار\n}\n\nlet results = [];\n\nfor (const item of priceItems) {\n    const rawValues = item.json.values;\n    const meta = item.json.meta;\n    \n    // التأكد من وجود بيانات كافية (نحتاج 100 شمعة على الأقل للتحليل)\n    if (!rawValues || rawValues.length < 100) continue;\n\n    // تحويل وترتيب الشموع (Twelve Data تأتي بالعكس، لذا نستخدم reverse)\n    const priceData = rawValues.map(v => ({\n        h: parseFloat(v.high),\n        l: parseFloat(v.low),\n        c: parseFloat(v.close)\n    })).reverse();\n\n    const currentCandle = priceData[priceData.length - 1];\n    const currentPrice = currentCandle.c;\n    const currentLow = currentCandle.l;\n\n    // --- التحليل الفني الاحترافي ---\n\n    // 1. تحديد النطاق السعري (High & Low) لآخر 300 شمعة\n    const analysisData = priceData.slice(-300);\n    const highs = analysisData.map(d => d.h);\n    const lows = analysisData.map(d => d.l);\n    const globalHigh = Math.max(...highs);\n    const globalLow = Math.min(...lows);\n\n    // 2. حساب مستوى الارتداد العميق (Fibonacci 88.6%)\n    const fib88 = globalHigh - ((globalHigh - globalLow) * 0.886);\n\n    // 3. كشف سحب السيولة (Liquidity Sweep)\n    // نبحث عن أدنى قاع في آخر 40 شمعة سابقة (نحو 20 ساعة تداول)\n    const recentLows = lows.slice(-41, -1);\n    const majorLow = Math.min(...recentLows);\n    const isSweep = currentLow < majorLow;\n    \n    // 4. هل السعر داخل منطقة الشراء (Zone)؟\n    // سماحية بسيطة (0.15%) لضمان التقاط الفرصة عند ملامسة الخط\n    const inZone = currentPrice <= (fib88 * 1.0015);\n\n    // 5. حساب مؤشرات مساعدة للـ Gemini (ATR و Trend)\n    const atr = (globalHigh - globalLow) / 24; // تقريبي لفريم 30 دقيقة\n    const trend = currentPrice > (globalHigh + globalLow) / 2 ? \"صاعد\" : \"هابط\";\n    const rsiValue = inZone ? \"32 (Oversold)\" : \"55 (Neutral)\";\n\n    // القرار النهائي لنود الـ IF\n    const decision = isSweep && inZone;\n\n    results.push({\n        json: {\n            is_opportunity: decision, // المتغير الأهم لنود الـ IF\n            symbol: meta.symbol,\n            current_price: currentPrice.toFixed(5),\n            sl: (currentLow * 0.9992).toFixed(5), // Stop Loss تحت القاع المسحوب\n            tp: globalHigh.toFixed(5),            // Take Profit عند القمة السابقة\n            full_report: newsString,\n            trend: trend,\n            rsi: rsiValue,\n            atr: atr.toFixed(5),\n            technical_log: `Sweep: ${isSweep} | Zone: ${inZone} | Fib88: ${fib88.toFixed(5)}`\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -432
      ],
      "id": "56eadb06-52b1-4ae2-95d3-f381e4802194",
      "name": "Volunacci 30m"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Prices1": {
      "main": [
        [
          {
            "node": "Volunacci 30m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watchlist": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get_Prices1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Volunacci 30m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Volunacci 30m": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Etc/UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "68f5f776-c681-450c-b2e8-b5cead402907",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34224cfb1556debd0890277dba36552e42e8370d3a301d7b9f98b23eedd635fd"
  },
  "id": "VKKKKRthKKONJ2cs",
  "tags": []
}