AI-MultiModal-Telegram-Assistant/AI-MultiModal-Telegram-Assistant.json
{
  "name": "weather+ image",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "73d4850f-bc94-4c98-9025-3cf4afeeac6b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4b91922a-5c48-4f6e-bb7f-82492ee8dd4b",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7a1dccef-b12c-4ceb-a31f-932da26849a3",
                    "leftValue": "={{ $json.message.photo[0] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -720,
        -256
      ],
      "id": "533b35b5-80cf-4fac-8898-3d10a1404543",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8fbd804-b759-44f5-9db4-8601549ca539",
              "name": "message.text",
              "value": "={{ $('Switch').item.json.message.text }}",
              "type": "string"
            },
            {
              "id": "5a529488-842d-47f3-97fe-11c95c981e14",
              "name": "message.voice",
              "value": "={{ $json.content.parts[0] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -176
      ],
      "id": "6bb70c40-8bf8-4253-acc8-9e82b804689b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n{{ $json.message.voice.text }}",
        "options": {
          "systemMessage": "=Role: Ultra-Concise Weather & Contact Assistant.\n\nTool Logic:\n\nWeather: Use current_weather_tool for today, and forecast_weather_tool for future dates.\n\nContacts: If asked to email someone, you MUST use airtable_tool to find the person. Just provide the name to the tool, and it will return the email from the database.\n\nEmailing: Use gmail_tool only after you get the email from the Airtable tool.\n\nOperational Rules:\n\nFormat: [City] | [Temp] | [Condition].\n\nIf airtable_tool returns no email, say: \"Contact not found.\"\n\nCrucial: Use the email found in the database as the recipient automatically.\n\nRespond in the user's language."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16,
        -160
      ],
      "id": "fc7e1c4e-59c7-4071-8bc2-0a5044ad276a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        48,
        80
      ],
      "id": "b5316477-ab68-46be-86d4-f5c791f5ac88",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lmiqOWu7zdBULNGF",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Switch').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        32
      ],
      "id": "436677b4-797d-4440-b283-88905d3c96c1",
      "name": "Get a file",
      "webhookId": "d8e7d03b-2b4b-409d-9ec9-24e89174dae8",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        32
      ],
      "id": "337a5ad4-6aa4-4dfb-b326-17d28014b861",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "oekOLdbAMsL0giQ4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.message.voice.text }}",
                    "rightValue": "={{ $('Edit Fields').item.json.message.voice }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "077e3744-f795-46b8-9117-7cf4bdf04758"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "71792f86-4c93-4cc8-b6bc-004ca14c4ff5",
                    "leftValue": "={{ $('Edit Fields').item.json.message.voice.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        288,
        -144
      ],
      "id": "dad9eaec-9932-4888-ab97-dd08dd1edffd",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -544,
        -160
      ],
      "id": "56021879-3740-4d36-b5b9-67b029352218",
      "name": "Send a chat action",
      "webhookId": "c0f357f7-9cc4-4daa-9a89-ef1593622955",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "action": "record_audio"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -528,
        112
      ],
      "id": "490e91fd-72ae-46d1-aad3-26a938dd9669",
      "name": "Send a chat action1",
      "webhookId": "ec6b9123-bf05-426a-b308-398daa9d7f85",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "fable",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        480,
        -208
      ],
      "id": "989e123c-28af-4d71-8a37-fd3ff5333ac7",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "OcxqkQXA0cWU4S7V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -208
      ],
      "id": "f3e997f3-9e0e-4816-a5f7-62a76d947b0d",
      "name": "Send an audio file",
      "webhookId": "20be3843-2f32-49ea-a783-c4fa9aef21d0",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        -64
      ],
      "id": "08d7a874-987e-4920-a43c-2acaf2df6dcf",
      "name": "Send a text message",
      "webhookId": "f77f399a-b703-4263-9a3d-23399eb98d95",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}",
        "language": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Language', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        208,
        80
      ],
      "id": "995eb844-aa29-4884-b04b-6e1890407d9d",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "B56nKxIGjlO3qROw",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Gets future weather information",
        "operation": "5DayForecast",
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}",
        "language": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Language', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        320,
        80
      ],
      "id": "a80cb586-e8e1-48a4-8dc1-5b746a6d9ddc",
      "name": "OpenWeatherMap1",
      "credentials": {
        "openWeatherMapApi": {
          "id": "B56nKxIGjlO3qROw",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `\"Sends weather alerts. Requires an email address. If you don't have the email, you MUST use the Airtable tool first.\"`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        528,
        160
      ],
      "id": "136cfc30-9682-4e6a-a206-7eece5ae150a",
      "name": "Send a message in Gmail",
      "webhookId": "4b418e55-fe74-4683-869d-dbd6e42d9316",
      "credentials": {
        "gmailOAuth2": {
          "id": "OSlBuBOfMECfDx5P",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        112
      ],
      "id": "d69be654-c123-4239-a648-de3a284fae04",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oekOLdbAMsL0giQ4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appBoD14vgndfoaNS",
          "mode": "list",
          "cachedResultName": "email",
          "cachedResultUrl": "https://airtable.com/appBoD14vgndfoaNS"
        },
        "table": {
          "__rl": true,
          "value": "tbl6K4a6GaIQ0FSIi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appBoD14vgndfoaNS/tbl6K4a6GaIQ0FSIi"
        },
        "filterByFormula": "={{ `{name} = \"${$fromAI(\"person_name\")}\"` }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        128,
        176
      ],
      "id": "6063c93c-8470-48a3-80c7-93680b0e0d24",
      "name": "airtable_tool",
      "credentials": {
        "airtableTokenApi": {
          "id": "IwmPxxg3SMg8bKU8",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        -240
      ],
      "id": "fd47eb2d-0894-4ded-9623-7e22ec24a919",
      "name": "Telegram Trigger",
      "webhookId": "3d4ececf-3ac1-4a84-ac41-ad11c61e0d95",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        -416
      ],
      "id": "2e14d0fc-e98c-45a8-b9ab-60d291027c6d",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "oekOLdbAMsL0giQ4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        -432
      ],
      "id": "73ec216a-50ad-4393-883d-fe3b1f17b26a",
      "name": "Get a file1",
      "webhookId": "6a797403-d300-4638-9bd4-ac5111fa1cc9",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}",
        "options": {
          "systemMessage": "اختصر وصف هذه الصورة مع اقتراح تعديلات بسيطة عليها لتصبح افضل \nالاجابة باختصار"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -464
      ],
      "id": "a2caa21f-9f49-4e79-86bc-985d89fe77e3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -496
      ],
      "id": "0d1d1885-cdf0-48bf-a73f-21e2ad77c32c",
      "name": "Send a text message1",
      "webhookId": "ce883446-f280-4a4e-a85b-99aa000d3c4c",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "763a1c79-5c3b-46f2-91f0-53f861c7d745",
              "name": "content.parts[0].text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -448
      ],
      "id": "d0b8ca5f-c467-408e-ab80-ce100cea6968",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        48,
        -320
      ],
      "id": "295748e6-3ffc-4cd7-ba14-5d6620657d95",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "lmiqOWu7zdBULNGF",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        -320
      ],
      "id": "9bbba4d7-b9f2-44dc-bfc0-d60231289fbe",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "oekOLdbAMsL0giQ4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a chat action1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "airtable_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c40356a-0593-4d97-8c0a-55d2e7409686",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "807d584322770c09bfd8de79fcae5cd602fd9a4608fcd01394c716693ac71671"
  },
  "id": "sOizBSsGBQcAu7p8",
  "tags": []
}