Voice-AI-Telegram-Agent-Postgres/Voice-AI-Telegram-Agent-Postgres.json
{
  "name": "tel audio 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "inline_query",
          "callback_query",
          "channel_post",
          "edited_message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        -64
      ],
      "id": "6ff27fd2-be33-4b79-ac7b-07e4408898db",
      "name": "Telegram Trigger",
      "webhookId": "2c81e992-ae76-4428-b91f-ddb2dc42be9f",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "2b8d78c9-0d5e-4a03-888c-b5028a269678"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5ff3ae96-df93-4a0c-ac97-4b8d10404343",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -464,
        -64
      ],
      "id": "70e6aa34-e30c-4f90-b4f9-1592e120d02d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        32
      ],
      "id": "d71b0ab1-5782-4ea1-8e8a-63456ec0ff2b",
      "name": "Get a file",
      "webhookId": "a1e2d873-f113-40b6-b148-ddd3cdb05d59",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        32
      ],
      "id": "02b2f82a-a5ae-46b9-a69a-ee574a980df8",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "oekOLdbAMsL0giQ4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "188dbf98-df13-4cd1-961b-b61bf4a6658d",
              "name": "content.parts[0]",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "dfcd8552-36ee-4ba9-b8d9-f237523abe6f",
              "name": "message.chat",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -80
      ],
      "id": "4e33a2c7-2991-4dcd-8ffe-f255bce5abdf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0] }}\n{{ $json.message.chat }}",
        "options": {
          "systemMessage": "just give short answer not more 20 words \nand make the agent remember the conversation event it was recording or text as same "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        304,
        -80
      ],
      "id": "2dc9d859-c5ef-477c-b56a-00487c537e21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        128
      ],
      "id": "ed3ffa33-a99e-484a-82f4-74899a73811d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oekOLdbAMsL0giQ4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.content.parts[0] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "8a8b2107-1af4-4ac4-a734-f09a06a4b097"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "67863fb1-91af-42f5-9b9b-3830bc75df67",
                    "leftValue": "={{ $('Edit Fields').item.json.message.chat }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        656,
        -80
      ],
      "id": "ad350e25-f850-4995-91bd-89e651d37472",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -176
      ],
      "id": "0d8376fa-cebf-4173-8302-f9f5844b50fb",
      "name": "Send an audio file",
      "webhookId": "7e5a4928-e336-4855-a666-b5855c934458",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        16
      ],
      "id": "af942f9e-4120-432e-81bf-f26e65613ac8",
      "name": "Send a chat action1",
      "webhookId": "c98a26fc-f7ba-4511-9306-a5a064fa4fc1",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Switch1').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        16
      ],
      "id": "91663f10-bd6f-4062-9b50-5e466e35ae08",
      "name": "Send a text message",
      "webhookId": "1bf98b9a-079b-49dc-bcae-a38a50b7e59f",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "action": "record_audio"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        -176
      ],
      "id": "7a250ad3-441b-4e63-bf2d-8f0fbdaa4635",
      "name": "Send a chat action",
      "webhookId": "5ca97768-038e-45dd-a3ba-91c7a5f7212f",
      "credentials": {
        "telegramApi": {
          "id": "CAXcXO1MBMzZ4exl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('Switch1').item.json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1072,
        -176
      ],
      "id": "23faff67-9a8c-48bf-a3ec-291da4090e8d",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "OcxqkQXA0cWU4S7V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        368,
        128
      ],
      "id": "27311dd9-4e8f-4da1-9474-d0ae826289e7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lmiqOWu7zdBULNGF",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a chat action1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ccdcafa-183f-44c1-ad61-933381b73f87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "807d584322770c09bfd8de79fcae5cd602fd9a4608fcd01394c716693ac71671"
  },
  "id": "PPrePZJzuaQZZ67F",
  "tags": []
}